@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.imgContainer {
  width: 100%;
  height: 300px;
  position: relative;
  border: 1px solid wheat;
}

.img {
    object-fit: cover;
    object-position: 0 25%;
  filter: grayscale(100%);
  border-radius: 10px;
}

.imgText {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0.7;
  padding: 10px;
  color: white;
  border-radius: 10px;
  align-items: center;
}
.imgText1 {
    position: absolute;
  bottom: 15px;
  left: 15px;
  opacity: 0.7;
  padding: 10px;
  color: white;
  border-radius: 10px;
  align-items: center;
}
.imgText2 {
    position: absolute;
  bottom: 5px;
  right: 15px;
  opacity: 0.7;
  padding: 10px;
  color: white;
  border-radius: 10px;
  align-items: center;
  font-size: 8px;
  font-weight: 400;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 10px;
}

.textContainer {
  display: flex;
  gap: 100px;
}

.item {
  flex: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item P {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}

