.layout h1{
    font-size: 60px;
}


.container h1{
    font-size: 30px;
    margin: 20px 0;
}

.items
{
    display: flex;
    gap: 50px;
}
.item
{
    border: 5px solid #bbb;
    border-radius: 5px;
    position: relative;
    width: 300px;
    height: 400px;
    background-size: cover !important;
} 
.item:nth-child(1)
{
    background: url("/illustration.png");
}
.item:nth-child(2)
{
    background: url("/websites.jpg");
}
.item:nth-child(3)
{
    background: url("/apps.jpg");
}

.item:hover .title
{
    color: aqua;
}

.title
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 40px;
    font-weight: bold;
}

/* Media Queries */

/* Tablets */
@media only screen and (max-width: 768px) {
    .layout h1 {
      font-size: 35px;
      text-align: center;
    }
  
    .container h1 {
      font-size: 25px;
      margin: 15px 0;
    }
  
    .items {
        justify-content: center;
        align-items: center;
      flex-wrap: wrap;
    }
  
    .item {
      margin-bottom: 25px;
    }
    .item:hover .title
{
    color: aqua;
}
    .title
{
    bottom: 10px;
    right: 10px;
    font-size: 35px;
    font-weight: bold;
}
  }
  
  /* Mobile Phones */
  @media only screen and (max-width: 480px) {
    .layout h1 {
        font-size: 25px;
        text-align: center;
      }
    
      .container h1 {
        font-size: 20px;
        margin: 15px 0;
      }
    
      .items {
          justify-content: center;
          align-items: center;
        flex-wrap: wrap;
      }
    
      .item {
        margin-bottom: 20px;
      }
      .item:hover .title
  {
      color: aqua;
  }
      .title
  {
      bottom: 10px;
      right: 10px;
      font-size: 25px;
      font-weight: bold;
  }
  }