.container
{
  display: flex;
  align-items: center;
  gap: 300px;
}
.item
{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.item h1{
  text-align: center;
  position: absolute;
  top: 5em;
  font-size: 55px;
  background: linear-gradient(to bottom ,rgb(82, 200, 200),rgb(96, 170, 114) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item h2{
  position: absolute;
  top: 12em;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 34px;
  font-weight: 500;
}


.img
{
  border: 10px solid rgb(219, 206, 206);
  border-radius: 30px 0 30px 0;
  height: 500px;
  object-fit: contain;
  background-color: rgb(116, 156, 156);
  animation: move 2s infinite ease alternate;
}

@keyframes move {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}


