.container
{
  display: flex;
  align-items: center;
  gap: 300px;
}
.item
{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.item h1{
  font-size: 65px;
  background: linear-gradient(to bottom ,rgb(82, 200, 200),rgb(96, 170, 114) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item p{
  font-size: 24px;
  font-weight: 300;
}


.img
{
  border: 10px solid rgb(219, 206, 206);
  border-radius: 20px 0 20px 0;
  height: 500px;
  object-fit: contain;
  background-color: rgb(140, 213, 213);
  /* animation: move 3s infinite ease alternate; */
}

@keyframes move {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}

