.footer
{
    height: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon
{
    opacity: 0.8;
    cursor: pointer;
}

/* Media Queries */

/* Tablets */
@media only screen and (max-width: 768px) {
    .footer {
        height: 40px;
        font-size: 13px;
    }

    .socials {
        gap: 8px;
    }
}

/* Mobile Phones */
@media only screen and (max-width: 480px) {
    .footer {
        height: 30px;
        font-size: 11px;
    }

    .socials {
        gap: 6px;
    }
}