.container {
    display: flex;
    gap: 100px;
    padding: 20px;
  }
  
  .posts {
    flex: 1;
  }
  
  .post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    background-color: #d1b4b4;
    opacity: 0.8;
    padding: 15px;
    border-radius: 20px;
  }
  .post h2
  {
    color: rgb(7, 41, 30);
    font-size: 25px;
  }

  .imgContainer {
    width: 250px;
    height: 150px;
    position: relative;
  }
  
  .img {
    object-fit: contain;
  }
  
  .delete {
    font-size: 35px;
    margin-top: -110px;
    cursor: pointer;
    color: rgb(243, 33, 33);
  }
  
  .new {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #bbb;
    padding: 20px;
    border-radius: 15px;
  }
  .new h1
  {
    color: rgb(79, 172, 172);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .input,
  .textArea {
    border: 2px solid green;
    background-color: rgb(246, 243, 240);
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .button {
    padding: 15px;
    cursor: pointer;
    background-color: #11613a;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 15px;
    font-weight: bold;
  }
