.blog
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.container
{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.content
{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content h1{
    color: rgb(78, 169, 139);
    font-size: 30px;
}
.content p{
    color: antiquewhite;
    text-align: justify;
}

.img {
    object-fit: cover;
    object-position: 0 20%;
}


/* Media Queries */

/* Tablets */
@media only screen and (max-width: 768px) {
    
    .container {
        text-align: center;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  
    .content h1 {
      font-size: 25px;
    }
  
    .content p {
      font-size: 14px;
    }
  }
  
  /* Mobile Phones */
  @media only screen and (max-width: 480px) {
    .container {
        text-align: center;
      gap: 20px;
    }
  
    .content h1 {
      font-size: 20px;
    }
  
    .content p {
      font-size: 12px;
    }
  }